<% @page_title = 'Staff Menu' -%>

<ul class="menu">
	<li><%= link_to('Manage Posts', '/' 'posts') %></li>
	<li><%= link_to('Manage Categories', '/' 'categories') %></li>
	<li><%= link_to('Manage Comments', '/' 'comments') %></li>
	<li><%= link_to('Manage Users', '/' 'users') %></li>
	<li><%= link_to('Logout', :action => 'logout') %></li>
</ul>
