<%@page_title= "Posts" %>
<%=content_tag('p',link_to('<< Back', :controller=>'staff',:action=>'menu'))%>

<table>
  <tr>
    <th>Created</th>
    <th>Title</th>
    <th>Author</th>
    <th>Categories</th>
    <th>Status</th>
    <th>Comments Count</th>
  </tr>
  <% for post in @posts %>
    <tr class="<%= cycle('row1','row2') %>">
      <td><%= post.created_at.strftime('%m/%d/%y%I:%m %p') %></td>
      <td><%= post.title %></td>
      <td><%= post.author.display_name if post.author %></td>
      <td><%= post.categories.collect{|cat| cat.name}.join(',') %></td>

      <td><%= post.status %></td>
      <td><%= post.comments_count %></td>
      <td><%= link_to "Show", action:'show',id: post.id %></td>
      <td><%= link_to "Edit", edit_post_path(post) %></td>
      <td><%= link_to "Destroy", action:'destro',id: post.id %>

      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Post", new_post_path %></p>
